:root {
  --primary-color: #4CAF50;
  --secondary-color: #363636;
  --text-color: #ffffff;
  --hover-effect: all 0.3s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: 50px 100px;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  color: var(--text-color);
  font-weight: bold;
  text-shadow: 2px 2px 5px var(--primary-color);
}

.nav-order {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.nav-order li a {
  color: var(--text-color);
  padding-bottom: 5px;
  transition-duration: .3s;
  border: 2px solid var(--text-color);
  font-size: 20px;
}

.nav-order li a:hover {
  border: 2px solid var(--text-color);
}

.signup {
  width: 30;
  height: 10;
  padding: 10px 15px;
  border-radius: 15px;
  border: 3px solid var(--primary-color);
  background-color: var(--text-color);
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.signup:hover {
  border: 3px solid var(--text-color);
  background-color: var(--primary-color);
  color: var(--text-color);
}

.signin {
  width: 30;
  height: 10;
  padding: 10px 15px;
  border-radius: 15px;
  border: 3px solid var(--text-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.5s ease;
}

.signin:hover {
  border: 3px solid var(--primary-color);
  background-color: var(--text-color);
  color: var(--primary-color);
}